<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/../../General.css">
  <style type="text/css">
      html
      {

          background-repeat: repeat-x;
          background-repeat:repeat-y;
      }


      body
      {
          margin:0px;
          font-family:tahoma;
          text-align:center;
          font-size:12px;
          padding:0px;
          background-image:url(/assets/ban.png);
          background-color:#e8e8e8;
          color:black

      }

  </style>

</head>

<body>
<div style="background-image:url(assets/ba.png) ;">


  <div>
    <a href="/"><img src="/assets/ban2.png" width="100%"></a>
  </div>

  <div id="menu" style="margin-top:-6px; margin-left:-13px;">
    <div style="width:1300px;margin:auto;">
      <ul>
        <li class="icon"><a href="/index">Home</a></li>
        <li class="icon"><a href="/products">Products</a></li>
        <li class="icon"><a href="/designers">Designers</a></li>
        <li class="icon"><a href="/showrooms">Showrooms</a></li>
        <li class="icon"><a href="">Events</a></li>
        <li class="icon"><a href="">Services</a></li>
        <li class="icon"><a href="">Service Points</a></li>
        <li class="icon"><a href="">Co.Tradition & Quality</a></li>
        <li class="icon"><a href="">Partners</a></li>
        <li class="icon"><a href="/General_Info-About_Us.html">About Us</a></li>
        <li class="icon"><a href="/contacts">Contact Us</a></li>

      </ul>
    </div>
  </div>
</div>



<div  style=" background-color: #cbd6f0; min-height: 500px;
         width:80%; margin:0 auto; border:ridge #11112a 10px; overflow:auto;" >

  <%=yield %>


  </div>



</div>



</body>

</html>
